.title {
  font-family: "Pacifico", cursive;
  text-shadow: 1px 1px gold;
}
.nav-container {
  font-size: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
nav {
  display: flex;
  width: 160px;
  justify-content: space-around;
}
a {
  display: block;
}
a:hover {
  color: gold;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .nav-container {
    flex-direction: column-reverse;
  }
  .title,
  nav {
    margin: 0 auto;
  }
}
